@media (max-width: 720px) {
    .content {
        width: 400px;
        height: 250px;
    }

    .hoursText {
        font-size: 8rem;
    }

    .displayContentText {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .content {
        width: 350px;
        height: 200px;
    }

    .hoursText {
        font-size: 6rem;
    }

    .displayText {
        font-size: 1rem;
        line-height: unset;

    }

    .displayContentText {
        font-size: 1rem;
    }

    .hoursContainer {
        width: 60%;
    }
    .dateDisplay {
        width: 40%;
    }
}

@media (max-width: 420px) {
    .content {
        width: 250px;
        height: 150px;
        border-radius: 30px;
}

    .hoursText {
        font-size: 4rem;
    }
    .displayText {
        font-size: 0.9rem;
        line-height: unset;
    }

    .displayContentText {
        font-size: 0.8rem;
    }

    .dateDisplay {
        padding: 15px 10px;
    }

    .hoursContainer {
        width: 60%;
    }
    .dateDisplay {
        width: 40%;
    }
}