* {
    box-sizing: border-box;
}

html, body, p, h1 {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'digital-clock-font';
    src: url('digital-7.ttf') format('truetype');
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #050505;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    width: 600px;
    height: 300px;
    background-color: #111111;
    border-radius: 40px;
    box-shadow: inset 0px 0px 8px 1px #000000, 
    0px 0px 0px 10px #373737,
    0px 0px 0px 20px #2b2b2b;
    align-items: center;
    justify-content: center;
}

.hoursContainer {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.hoursText {
    font-family:'digital-clock-font', monospace;
    font-weight: 100;
    color: white;
    font-size: 12rem;
}

.dateDisplay {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 30px 20px;
    flex-direction: column;
    height: 100%;
    color: white;
    font-family:'digital-clock-font', monospace;
    font-size: 1.2rem;
}

.dateContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
    flex: 1;
    border-bottom: 1px solid white;
}

.yearContainer {
    border-bottom: 1px solid white;
    align-items: end;
    padding-bottom: 10px;
}

.secondsContainer {
    align-items: end;
}

.dayContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 10px;
    align-items: end;
    box-sizing: border-box;
    padding: 0 5px 0 0;
    border-right: 1px solid white;
}

.mouthContainer {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1px);
    box-sizing: border-box;
    align-items: end;
    margin: 0 0 10px 5px;
}

.displayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 2px;
}

.displayText {
    line-height: 19px;
    font-size: 1rem;
}

.displayContentText {
    font-size: 3rem;
}
